:root {
    --default-color-text: #1C1C1C;
}



@media (max-width: 992px) {

    .menuButton {
        position: absolute;
        display: block;
        top: 24px;
        right: 22px;
        width: 20px;
        height: 3px;
        background-color: black;
        border: none;
    }

    .menuButton::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        transition: transform 0.5s;
        background-color: black;
        margin-top: 6px;
    }

    .menuButton::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        transition: transform 0.5s;
        background-color: black;
        margin-top: 12px;
    }

    .menuButton-active {
        height: 0;
    }

    .menuButton-active::before {
        transform: rotate(45deg);
        margin-top: 0;
    }

    .menuButton-active::after {
        transform: rotate(-45deg);
        margin-top: 0;
    }



    /* ---------------------------------------Burger */

    .burger-menu {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 64px;
        right: 0;
        background-color: #EDF2F5;
        width: 320px;
        height: 504px;
        padding-bottom: 40px;
        z-index: 2;
    }

    .header-active {
        display: flex;
    }

    .burger-logo-link {
        width: 23px;
        height: 22px;
        margin-top: 24px;
        margin-bottom: 20px;
    }

    .burger-nav-links {
        list-style-type: none;

    }

    .burger-nav-links li {
        margin-bottom: 20px;
    }

    .burger-nav-link-item {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: var(--default-color-text);
        text-transform: uppercase;
    }

    .burger-header-text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        line-height: 14px;
        color: var(--default-color-text);
    }

    .burger-header-download {
        display: flex;
        align-items: center;
    }

    .burger-header-download-img {
        width: 44px;
    }

    .burger-header-download-link {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-decoration: none;
        color: var(--default-color-text);
        border-bottom: #12C868 dotted 0.104vw;
        padding-bottom: 6px;
    }

    .burger-header-social-text-boob{
        border-radius: 50%;
        border: 0.104vw #12C868 solid;
    }

    .burger-header-social-text-text{
        margin-left: 5px;
        font-size: 8px;
    line-height: 10px;
    margin-bottom: 11px;
    }
    
    .burger-header-social-images{
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    
    .burger-header-social-img{
        width: 44px;
        margin-right: 14px;
    }

    /* ---------------------------------------------------------------modal adaptive */

    .modal-content {
        animation-name: animate;
        animation-duration: 0.5s
     }
     
     .close {
        margin-left: 448px;
        margin-top: 45px;
        cursor: pointer;
     }
     
     .modal {
        top: -19px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 150%;
        display: none;
        /* Скрыто по умолчанию */
        background-color: rgb(0, 0, 0);
        /* Затемнение фона */
        background-color: rgba(0, 0, 0, 0.5);
        /* Полупрозрачное затемнение */
        z-index: 1;
        /* Фон на нижнем слое */
        overflow: none;
        /* При необходимости, то появиться прокрутка */
     }
     
     .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        border-radius: 35px;
        width: 550px;
        height: 650px;
        margin: auto;
        margin-top: 19px;
     }
     
     .modal-header {
        margin-top: 5px;
     }
     
     .modal-header-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--default-color-text);
        margin-bottom: 17px;
     }
     
     .modal-header-text {
        text-align: center;
        width: 343px;
        font-weight: 400;
        font-size: 16px;
        line-height: var();
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
     }
     
     .modal-header-time {
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 25px;
     }
     
     .modal-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 368px;
        margin: 0 auto;
     }
     
     .modal-label-input-phone {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height:15px;
        color: #000000;
        margin-left: 2vw;
     }
     
     .modal-input-phone {
        box-sizing: border-box;
        margin-top: 17px;
        width: 100%;
        height: 85px;
        background: #FFFFFF;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        padding-left: 46px;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #A7A7A7;
        border: none;
        outline: none;
        margin-bottom: 24px;
     }
     
     .modal-input-phone::placeholder{
        color: #A7A7A7;
     }
     
     .modal-button-submit-form{
        display: flex;
        align-items:center;
        justify-content: center;
        width: 100%;
        height: 85px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        background: #F38120;
        border: none;
        outline: none;
        color: #FFF;
        font-weight: 600;
     font-size: 17px;
     line-height: 22px;
     margin-bottom: 19px;
     }
     
     .modal-button-img{
        width: 22px;
        transform: rotate(45deg);
        margin-left: 18px;
     }
     
     .checkbox-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
     }
     
     .modal-input-checkbox{
        background-color: #F38120;
     }
     
     .modal-label-input-checkbox{
        margin-left:19px;
        font-weight: 500;
     font-size: 12px;
     line-height: 22px;
     color: var(--default-color-text);
     }
     
     .orange{
        color: #F38120;
     }
     
     .modal-submit{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        border-radius: 35px;
        width: 550px;
        height: 650px;
        margin: auto;
        margin-top: 19px;
        
     }
     
     .success-img{
        margin-top: 100px;
        margin-bottom: 100px;
     }
     
     .success-text{
        width: 19vw;
        font-weight: 500;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--default-color-text);
        margin-bottom: 17px;
     }


    .container {
        max-width: 900px;
        width: 90%;
        margin: auto;
    }

    .modal-content {
        margin-top: 20%;
    }

    .header-container-second {
        justify-content: space-around;
        margin-top: 0;
    }

    .header-container-first,
    .header-social {
        display: none;
    }

    .main-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main-buttons {
        flex-direction: column;
        order: 4;
    }

    .main-text-content {
        order: 3;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 800px) {

    .header-download,
    .header-text {
        display: none;
    }

    .main-title {
        width: 70%;
        text-align: center;
        font-size: 18px;
        line-height: 30px;
    }

    .main-content-text {
        width: 70%;
        font-weight: 600;
        font-size: 8px;
        line-height: 12px;
    }

    .main-pre-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }

    .main-content-text {
        text-align: center;
        font-size: 8px;
        line-height: 12px;
    }

    .main-button {
        height: 60px;
        width: 100%;
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        border-radius: 50px;
    }

    .main-button-arrow {
        width: 15px;
        margin-left: 12px;
    }
}

@media(max-width: 700px) {

    .header-logo,
    .header-phone {
        height: 70px;
    }

    .phone-text {
        font-weight: 400;
        font-size: 7px;
        line-height: 9px;
    }

    .phone {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    .call-me {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
    }

    .sidebar {
        display: none;
    }

}

@media(max-width: 597px) {
    .header-container-second {
        justify-content: center;
    }

    .header-logo,
    .header-phone {
        margin-left: 20px;
        max-width: 200px;
        width: 30%;
    }

    .main-button {
        width: 276px;
        height: 60px;
    }
}

@media(max-width:500px) {
    .header-logo {
        width: 75px;
        height: 52px;
    }

    .header-phone {
        max-width: 250px;
        width: 50%;
    }


    .modal-content {
        animation-name: animate;
        animation-duration: 0.5s
     }
     
     .close {
        margin-left: 448px;
        margin-top: 45px;
        cursor: pointer;
     }
     
     .modal {
        top: -19px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 150%;
        display: none;
        /* Скрыто по умолчанию */
        background-color: rgb(0, 0, 0);
        /* Затемнение фона */
        background-color: rgba(0, 0, 0, 0.5);
        /* Полупрозрачное затемнение */
        z-index: 1;
        /* Фон на нижнем слое */
        overflow: none;
        /* При необходимости, то появиться прокрутка */
     }
     
     .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        border-radius: 35px;
        width: 350px;
        height: 550px;
        margin: auto;
        margin-top: 19px;
     }
     
     .modal-header {
        margin-top: 5px;
     }
     
     .modal-header-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--default-color-text);
        margin-bottom: 17px;
     }
     
     .modal-header-text {
        text-align: center;
        width: 343px;
        font-weight: 400;
        font-size: 16px;
        line-height: var();
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
     }
     
     .modal-header-time {
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 25px;
     }
     
     .modal-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 368px;
        margin: 0 auto;
     }
     
     .modal-label-input-phone {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height:15px;
        color: #000000;
        margin-left: 38px;
     }
     
     .modal-input-phone {
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 17px;
        width: 80%;
        height: 85px;
        background: #FFFFFF;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        padding-left: 46px;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #A7A7A7;
        border: none;
        outline: none;
        margin-bottom: 24px;
     }
     
     .modal-input-phone::placeholder{
        color: #A7A7A7;
     }
     
     .modal-button-submit-form{
        margin: 0 auto;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 80%;
        height: 85px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
        border-radius: 50px;
        background: #F38120;
        border: none;
        outline: none;
        color: #FFF;
        font-weight: 600;
     font-size: 17px;
     line-height: 22px;
     margin-bottom: 19px;
     }
     
     .modal-button-img{
        width: 22px;
        transform: rotate(45deg);
        margin-left: 18px;
     }
     
     .checkbox-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
     }
     
     .modal-input-checkbox{
        background-color: #F38120;
     }
     
     .modal-label-input-checkbox{
        margin-left:19px;
        font-weight: 500;
     font-size: 12px;
     line-height: 22px;
     color: var(--default-color-text);
     }
     
     .orange{
        color: #F38120;
     }
     
     .modal-submit{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        border-radius: 35px;
        width: 550px;
        height: 650px;
        margin: auto;
        margin-top: 19px;
        
     }
     
     .success-img{
        margin-top: 100px;
        margin-bottom: 100px;
     }
     
     .success-text{
        width: 19vw;
        font-weight: 500;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--default-color-text);
        margin-bottom: 17px;
     }

}

@media(max-width:450px) {




    body {
        background: url(../img/bg-mob.png), #EDF2F5;
        ;
        background-position: top;
        height: 601px;
        overflow: hidden;
    }

    .main-container {
        flex-direction: column-reverse;
    }

    .sidebar {
        width: 225px;
        height: 367px;
        background-position: center top 60%;
    }

    .sidebar-item {
        width: 137px;
        font-size: 10px;
        line-height: 17px;
    }

    .menu-shadow {
        width: 202px;
        height: 20px;
    }

    .container {
        margin: 0 22px;
    }

    .header-container-second {
        justify-content: flex-start;
    }

    .header-logo {
        margin-left: 0;
        margin-right: 22px;
    }

    .header-logo-img {
        width: 51px;
    }

    .header-phone {
        margin-left: 0;
    }

    .main-content {
        width: 100%;
        margin: 0;
    }

    .main-content-img {
        width: 11px;
    }

    .main-title {
        margin-top: 34px;
        width: 100%;
    }

    .main-pre-title-img {
        margin-top: 18px;
        margin-bottom: 6px;
        width: 37px;
    }

    .main-button {
        margin-top: 12px;
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
    }

    .main-button-orange {
        margin-bottom: 69px;
    }

    .sidebar {
        display: block;
        margin: auto;
    }

    .goSidebar {
        position: absolute;
        top: 80px;
        left: 55px;
        transition: transform .2s ease-in-out;
    }

    .sidebar-item {
        text-align: left;
        margin-left: 23px;
    }

    .item-container {
        display: flex;
        align-items: center;
    }

    .mobile-img {
        display: block;
        transform: rotate('45deg');
    }
}